form-row {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #6c757d;
  font-weight: 500;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
  background-color: #fff;
  border: 1px solid #e2e8f0;
}

.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="password"]:focus {
  border-color: #4a5568;
}

.form-divider {
  margin: 1.5rem 0;
  border-bottom: 1px solid #e2e8f0;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #d97474;
  border-style:double;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  margin: 10px;
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-style:groove;
  background-color: #02c476;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.btn:hover {
  background-color: #d90000;
}

/* Page Styling */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f3a72e;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 1000px;
}


/* h2 etiketi için stil */
h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
}

 .button {
  margin: 10px;
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-style:groove;
  background-color: #000000;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
a {
height: 20px;
  margin: 1px;
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform:none;
  color: #fff;
  border-style:double;
  background-color: #acacac;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer,;
}
.container {
  max-width: 800px;
  height: 800px;
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.25rem;
}
